services:
  backend:
    build:
      context: .
      dockerfile: apps/backend/Dockerfile
    ports:
      - '3000:3000'
    healthcheck:
      test: ['CMD', 'wget', '--spider', '-q', 'http://localhost:3000/docs/openapi.json']
      interval: 1s
      timeout: 5s
      retries: 30
      start_period: 5s

  schemathesis:
    image: schemathesis/schemathesis
    command: run http://backend:3000/docs/openapi.json --continue-on-failure --max-examples 100
    volumes:
      - ./schemathesis.toml:/app/schemathesis.toml:z
    depends_on:
      backend:
        condition: service_healthy

  e2e:
    build:
      context: .
      dockerfile: apps/e2e/Dockerfile
    command: pnpm -F e2e test
    environment:
      - CI=true
